version: '3'
services:
  # teapost-client:
  #   build: ./app/client
  #   image: teapost-client
  #   container_name: teapost-client
  teapost-server:
    build: ./app/server
    image: registry.heroku.com/teapost/web:2
    container_name: teapost-server
  nginx:
    # build: ./nginx
    image: nginx:stable-alpine
    container_name: teapost-nginx
    ports:
      - '80:80'
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - teapost-server
